<!-- Created --TINTO MT  -->
{% extends 'company/Fin_base.html' %}
{% block body %}
<div class="page-content">
  <div class="card radius-15 h-20">
    <div class="row">
      <div class="col-md-12">
        <center><h2 class="mt-3">All Delivery Challans</h2></center>
        <hr/>
      </div>
    </div>
  </div>
<!-- Add this in the <head> section of your HTML -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <!-- Add this in the <head> section of your HTML -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>


  <div class="card radius-15">
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="d-flex">
              <input type="text" id="search" class="form-control" placeholder="Search.." autocomplete="off"/>
              <div class="dropdown ml-1" style="justify-content: left">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle text-grey" data-toggle="dropdown"><i class="fa fa-sort"></i> Sort by</button>
                <div class="dropdown-menu" style="background-color: black">
                  <a class="dropdown-item" href="" style="height: 40px; font-size: 15px; color: white">All</a>
                  <a class="dropdown-item" style="height: 40px; font-size: 15px; color: white;cursor: pointer;" onclick="sortTable(3)">Name</a>
                  <!-- <a class="dropdown-item" style="height: 40px; font-size: 15px; color: white;cursor: pointer;" onclick="sortBalAsc(2)"> DC No</a> -->
                  <a class="dropdown-item" style="height: 40px; font-size: 15px; color: white;cursor: pointer;" onclick="sortChallanAsc(2)">DC No</a>
                  <script>
                    function sortChallanAsc() {
                      var table = document.getElementById("customersTable");
                      var rows = Array.from(table.rows).slice(1);
                  
                      rows.sort(function (a, b) {
                        var challanA = parseInt(a.cells[2].textContent);
                        var challanB = parseInt(b.cells[2].textContent);
                        return challanA - challanB;
                      });
                  
                      // Remove existing rows from the table
                      for (var i = table.rows.length - 1; i > 0; i--) {
                        table.deleteRow(i);
                      }
                  
                      // Append the sorted rows back to the table
                      rows.forEach(function (row) {
                        table.tBodies[0].appendChild(row);
                      });
                    }
                  </script>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
          </div>
          <div class="col-md-5 d-flex justify-content-end">
            <button type="button" class="btn btn-outline-secondary text-grey" id="exportBtn"><i class="fa fa-table"></i> Export To Excel</button>
            <div class="dropdown ml-1">
              <button type="button" class="btn btn-outline-secondary dropdown-toggle text-grey" data-toggle="dropdown"><i class="fa fa-filter"></i> filter by</button>
              <div class="dropdown-menu" style="background-color: black">
                <a class="dropdown-item" style="height: 40px; font-size: 15px; color: white;cursor: pointer;" onclick="filterTable(6,'all')">All</a>
                <a class="dropdown-item" style="height: 40px; font-size: 15px; color: white;cursor: pointer;" onclick="filterTable(6,'Draft')">Draft </a>
                <a class="dropdown-item" style="height: 40px; font-size: 15px; color: white;cursor: pointer;" onclick="filterTable(6,'Saved')">Save</a>
              </div>
            </div>
            <a href="{% url 'newdeliverychallan' %}" class="ml-1"></i><button type="button" class="btn btn-outline-secondary text-grey"><i class="fa fa-plus font-weight-light"></i> New</button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-responsive-md table-hover mt-4" id="customersTable" style="text-align: center">
        <thead>
          <tr>
            <th>#</th>
            <th>DATE</th>
            <th>CHALLAN NUMBER </th>
            <th>CUSTOMER NAME</th>
            <th>CUSTOMER MAIL ID</th>
            <th> AMOUNT</th>
            <th>STATUS</th>
            <th>BALANCE</th>
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody>
          {% for a in del %}
          <tr style="cursor: pointer;">
            <td><a href="{% url 'challan_overview' a.id %}" >{{forloop.counter }}</a></td>
            <td><a href="{% url 'challan_overview' a.id %}" >{{ a.challan_date }}</a></td>
            <td><a href="{% url 'challan_overview' a.id %}" >{{ a.challan_no }}</a></td>
            <td><a href="{% url 'challan_overview' a.id %}" >{{ a.Customer.first_name }} {{ a.Customer.last_name }}</a></td>
            <td><a href="{% url 'challan_overview' a.id %}" >{{ a.Customer.email }}</a></td>
            <td><a href="{% url 'challan_overview' a.id %}" >{{ a.subtotal }}</a></td>
            <td><a href="{% url 'challan_overview' a.id %}" >{{ a.status }}</a></td>
            <td><a href="{% url 'challan_overview' a.id %}" >{{ a.balance }}</a></td>
            <td>{% if a.converted_to_invoice != None %}
              <span class="text-info font-weight-bolder text-center" onclick="window.location.href=`{% url 'Fin_viewInvoice' a.converted_to_invoice.id %}`">Converted to <br>Invoice - #{{a.converted_to_invoice.invoice_no}}</span>
             

              {% elif a.converted_to_recurring_invoice != None %}
              <span class="text-info font-weight-bolder text-center" onclick="window.location.href=`{% url 'Fin_viewRecurringInvoice' a.converted_to_recurring_invoice.id %}`">Converted to <br>Recurring Invoice - #{{a.converted_to_recurring_invoice.rec_invoice_no}}</span>
              {% else %}
              <div class="btn-group">
                  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      Convert
                  </button>
                  <ul class="dropdown-menu">
                    <!-- <li><button type="button" class="dropdown-item fw-bold" onclick="window.location.href=`{% url 'Fin_convertEstimateToSalesOrder' a.id %}`">To Sales Order</button></li> -->
                    <li><button type="button" class="dropdown-item fw-bold" onclick="window.location.href=`{% url 'Fin_convertchallanToInvoice' a.id %}`">To Invoice</button></li>
                    <li><button type="button" class="dropdown-item fw-bold" onclick="window.location.href=`{% url 'Fin_convertchallanToRecurringInvoice' a.id %}`">To Recurring Invoice</button></li>
                  </ul>
              </div>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
<script>
  var $rows = $('#customersTable tbody tr');
  $('#search').keyup(function() {
    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
    
    $rows.show().filter(function() {
      var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
      return !~text.indexOf(val);
    }).hide();
  });
  
  document.getElementById("exportBtn").addEventListener("click", function () {
    const Table = document.getElementById("customersTable");
    const ws = XLSX.utils.table_to_sheet(Table);
    const wb = XLSX.utils.book_new();
    XLSX.utils.book_append_sheet(wb, ws, "Sheet1");
    XLSX.writeFile(wb, "Delivery_Challan.xlsx");
  });

  jQuery(document).ready(function ($) {
    $(".clickable-row").click(function () {
      window.location = $(this).data("href");
    });
  });

  function sortTable(columnIndex) {
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("customersTable");
    switching = true;

    while (switching) {
      switching = false;
      rows = table.rows;

      for (i = 1; i < (rows.length - 1); i++) {
        shouldSwitch = false;
        x = rows[i].getElementsByTagName("td")[columnIndex].textContent.toLowerCase();
        y = rows[i + 1].getElementsByTagName("td")[columnIndex].textContent.toLowerCase();

        if (x > y) {
            shouldSwitch = true;
            break;
        }
      }

      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
      }
    }
  }

  function filterTable(row,filterValue) {
    console.log('Filtering table:', row, filterValue);
    var table = document.getElementById("customersTable");
    var rows = table.getElementsByTagName("tr");

    for (var i = 1; i < rows.length; i++) {
      var statusCell = rows[i].getElementsByTagName("td")[row];

      if (filterValue == "all" || statusCell.textContent == filterValue) {
        rows[i].style.display = "";
        
      } else {
        rows[i].style.display = "none";
      }
    }
  }

  function sortBalAsc() {
    var table = document.getElementById("customersTable");
    var rows = Array.from(table.rows).slice(1);

    rows.sort(function (a, b) {
      var balA = parseFloat(a.cells[7].textContent);
      var balB = parseFloat(b.cells[7].textContent);
      return balA - balB;
    });

    // Remove existing rows from the table
    for (var i = table.rows.length - 1; i > 0; i--) {
        table.deleteRow(i);
    }

    // Append the sorted rows back to the table
    rows.forEach(function (row) {
        table.tBodies[0].appendChild(row);
    });
  }
</script>

{% endblock %}
