<!-- Created --shemeem  -->
{% extends 'company/Fin_base.html' %}
{% block body %}
{% load social_share %}
<style>
    @media print {
        body{
            visibility: hidden !important;
            background-color: white;
        }

        .printContainer {
            visibility: visible !important;
            position: absolute;
            z-index: 99999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: medium;
        }

    }
    /* #printIframe {
        display: block;
    } */
    @keyframes blink {
        0% {
        visibility: hidden;
        }
        50% {
        visibility: visible;
        }
        100% {
        visibility: hidden;
        }
    }

    .blinking-text {
        animation: blink 2s step-start infinite;
    }
    .item_data p{
        font-size: 1.2rem;
        font-weight: bold;
    }
    .submitShareEmailBtn, #commentSaveBtn {
        background: #192d3e;
        border: 1px solid #3a4b5a;
        border-radius: 4px;
        color: white;
        font-weight: 600;
        padding: 0.5rem 1rem;
    }
    .submitShareEmailBtn:hover, #commentSaveBtn:hover {
        background: #3a4b5a;
    }
</style>
<div class="page-content " >
    <span class="d-flex justify-content-end p-2" style="cursor: pointer;" onclick="window.location.href=`{% url 'Fin_items' %}`"><i class="fa fa-times-circle text-white" style="font-size: 1.2rem;"></i></span>
    <div class="card radius-15">
        <div class="card-body" style="width:100%;">
            <div class="card-title">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <a style="padding: 10px; cursor: pointer; border-radius: 1vh; background-color: rgba(22,37,50,255);" onclick="overview()" id="overviewBtn" >Overview</a>
                            <a style="padding: 10px; cursor: pointer; border-radius: 1vh;" onclick="transaction()" id="transactionBtn" > Transactions</a>
                        </div> 

                        <div class="col-md-6 d-flex justify-content-end">
                            {% if item.status == 'Inactive' %}
                            <a href="{% url 'Fin_changeItemStatus' item.id 'Active' %}" id="statusBtn" style="display: block;" class="ml-2 fa fa-ban btn btn-outline-secondary text-grey " role="button" >&nbsp;Inactive</a> 
                            {% else %}
                            <a href="{% url 'Fin_changeItemStatus' item.id 'Inactive' %}" id="statusBtn" style="display: block;" class="ml-2 fa fa-check-circle btn btn-outline-secondary text-grey" role="button" >&nbsp;Active</a> 
                            {% endif %}
                            <a href="{% url 'Fin_itemTransactionPdf' item.id %}" class="ml-2 btn btn-outline-secondary text-grey fa fa-file" role="button" id="pdfBtn" style="display: none;"> &nbsp;PDF</a> 
                            <a class="ml-2 btn btn-outline-secondary text-grey fa fa-print" role="button" id="printBtn" style="display: none; " onclick="printSection('printContent')">&nbsp;Print</a>
                            <div class="dropdown p-0 nav-item"  id="shareBtn" style="display: none;">
                                <li  class="ml-2 dropdown-toggle btn btn-outline-secondary text-grey fa fa-share-alt" data-toggle="dropdown">&nbsp;Share</li>
                                <ul class="dropdown-menu" style="background-color: black;" id="listdiv">
                                    <li style="text-align: center;" >{% post_to_whatsapp object_or_url "WhatsApp" %}</li>
                                    <li style="text-align: center;color: #e5e9ec; cursor: pointer;" data-toggle="modal" data-target="#shareToEmail">Email</li>
                                </ul>
                            </div>
                            <a href="{% url 'Fin_editItem' item.id %}" class="ml-2 fa fa-pencil btn btn-outline-secondary text-grey" id="editBtn" role="button">&nbsp;Edit</a>
                            <a href="{% url 'Fin_deleteItem' item.id %}" class="ml-2 btn btn-outline-secondary text-grey fa fa-trash" id="deleteBtn" role="button" onclick="return confirm('Are you sure you want to delete item `{{item.name}}`.?')">&nbsp;Delete</a>
                            <a href="#"  class="ml-2 btn btn-outline-secondary text-grey fa fa-comments" style="display: block;" id="commentBtn" role="button" data-toggle="modal" data-target="#commentModal">&nbsp;Comment</a>
                            <a href="{% url 'Fin_itemHistory' item.id %}"  class="ml-2 btn btn-outline-secondary text-grey fa fa-history" id="historyBtn" role="button" >&nbsp;History</a>
                        </div>
                    </div> 
                </div>
                <center>
                    <h3 class="card-title" style="text-transform:Uppercase;">{{ item.name }}</h3>
                    {% if item.status == 'Inactive' %}
                    <h6 class="blinking-text" style="color:red;width:140px;font-weight: bold;">INACTIVE</h6>
                    {% else%}
                    <h6 style="width:140px;color: green;font-weight: bold;">ACTIVE</h6>
                    {% endif %}
                </center>
            </div>
        </div>
    </div>


    <div class="card card-registration card-registration-2" style="border-radius: 15px;">
        <div class="card-body p-0">
            <div id="overview">
                <div class="row g-0" style="margin-left: 1px; margin-right: 1px;">
                    <div class="col-lg-6">
                        <div class="history_highlight px-4 pt-4 d-flex">
                            <div class="col-8 d-flex justify-content-start">
                                {% if history.action == 'Created' %}<p class="text-success" style="font-size: 1.07rem; font-weight: 500;">Created by :</p>{% else %}<p class="text-warning" style="font-size: 1.07rem; font-weight: 500;">Last Edited by :</p>{% endif %}
                                <span class="ml-2" style="font-size: 1.15rem; font-weight: 500;">{{history.LoginDetails.First_name}} {{history.LoginDetails.Last_name}}</span>
                            </div>
                            <div class="col-4 d-flex justify-content-end">
                                <span>{{history.date}}</span>
                            </div>
                        </div>
                        <div class="p-5 pt-2">
                            <center><h4>ITEM DETAILS </h4></center>
                            <hr>
                            <div class="row mb-3">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Type </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;text-transform:Uppercase;"> {{item.item_type}}</p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Unit </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;text-transform:Uppercase;"> {{item.unit}}</p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" >{% if item.item_type == 'Goods' %} HSN Code {% else %} SAC Code {% endif %}</label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;text-transform:Uppercase;">{% if item.hsn %}{{ item.hsn }}{% else %}{{ item.sac }}{% endif %}</p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Tax Reference </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;text-transform:Uppercase;"> {{item.tax_reference}}</p>
                                </div>
                            </div>
                            
                            <div class="row mb-3">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Intra State Tax Rate </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;text-transform:Uppercase;">GST {{item.intra_state_tax}}% </p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Inter State Tax Rate </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;text-transform:Uppercase;">IGST {{item.inter_state_tax}}% </p>
                                </div>
                            </div>

                            {% if item.inventory_account != "" %}
                            <div class="row mb-3">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Inventory Account </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;text-transform:Uppercase;">{{item.inventory_account}} </p>
                                </div>
                            </div>
                            {% endif %}
                            
                            <div class="row mb-3">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Current Stock </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;text-transform:Uppercase;">{{item.current_stock}} </p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Stock Rate per Unit </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;text-transform:Uppercase;">{{item.stock_unit_rate}} </p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Min Stock to maintain </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;text-transform:Uppercase;">{{item.min_stock}} </p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6" style="background-color: rgba(22,37,50,255); border-top-right-radius:2vh; border-bottom-right-radius: 2vh;">
                        <div class="px-5 py-4">
                            <center><h4>PURCHASE INFORMATION </h4></center>
                            <hr>

                            <div class="row mb-3">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Purchase Price </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;text-transform:Uppercase;">INR : {{item.purchase_price}}</p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Purchase Account </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;text-transform:Uppercase;"> {{item.purchase_account}}</p>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Description </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;"> {{item.purchase_description}}</p>
                                </div>
                            </div>

                            <center><h4>SALES INFORMATION </h4></center>
                            <hr>

                            <div class="row mb-3">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Selling Price </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;text-transform:Uppercase;">INR : {{item.selling_price}}</p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Sales Account </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;text-transform:Uppercase;"> {{item.sales_account}}</p>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <div class="col-4 d-flex justify-content-start">
                                    <label style="color: white;" > Description </label>
                                </div>
                                <div class="col-4 d-flex justify-content-center">
                                    <p>:</p>
                                </div>
                                <div class="col-4 d-flex justify-content-start">
                                    <p style="color: white;font-size:15px;"> {{item.sales_description}}</p>
                                </div>
                            </div>   
                        </div>
                    </div>

                </div>
            </div>

            <div id="transaction" style="display: none;" >
                <div id="printContent">
                    <center><h3 class="mt-3 text-uppercase">{{item.name}} - TRANSACTIONS</h3></center>
                    <div class="row mt-5">
                        <div class="col d-flex justify-content-between px-5">
                            <div class="item_data">
                                <p>Selling Price: {{item.selling_price}}</p>
                                <p>Purchase Price: {{item.purchase_price}}</p>
                                <p>Min Stock to Maintain: {{item.min_stock}}</p>
                            </div>
                            <div class="item_data">
                                <p>Stock Quantity: {{item.current_stock}}</p>
                                <p>Stock Value: <span id="stockValue">0</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive px-2">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">Sl No.</th>
                                    <th class="text-center">Type</th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Date</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-center">Price</th>
                                    <th class="text-center">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in transactions %}
                                <tr>
                                    <td style="text-align: center;">{{forloop.counter}}</td>
                                    <td style="text-align: center;">{{i.type}}</td>
                                    <td style="text-align: center;">{{i.name}}</td>
                                    <td style="text-align: center;">{{i.date|date:'d-m-Y'}}</td>
                                    <td style="text-align: center;">{{i.qty}}</td>
                                    <td style="text-align: center;">{{i.price}}</td>
                                    <td style="text-align: center;">{{i.status}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div>
<!-- <iframe id="printIframe"></iframe> -->


<!-- Share To Email Modal -->
<div class="modal fade" id="shareToEmail">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-color: #213b52;">
            <div class="modal-header">
                <h5 class="m-3">Share Item Transactions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card p-3">
                    <form action="{% url 'Fin_shareItemTransactionsToEmail' item.id %}" method="post" class="needs-validation" id="share_to_email_form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="emailIds">Email IDs</label>
                            <textarea class="form-control" name="email_ids" id="emailIds" rows="3" placeholder="Multiple emails can be added by separating with a comma(,)." required></textarea>
                        </div>
                        <div class="form-group mt-2">
                            <label for="item_unitname">Message(optional)</label>
                            <textarea name="email_message" id="email_message" class="form-control" cols="" rows="4" placeholder="This message will be sent along with Bill details."></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-center" style="border-top: 1px solid #ffffff;">
                    <button type="submit" id="share_with_email" class="submitShareEmailBtn w-50 text-uppercase">SEND MAIL</button>
                </div>
            </div>
        </div>   
    </div>
</div>

<!-- Add Comments Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="background-color: #213b52;">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Add Comments</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="{% url 'Fin_addItemComment' item.id %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <textarea type="text" class="form-control" name="comment"></textarea>
                    {% if not comments %}
                    <span class="my-2 font-weight-bold d-flex justify-content-center">No Comments.!</span>
                    {% else %}
                    <div class="container-fluid">
                        <table class="table mt-4">
                            <thead>
                                <tr>
                                    <th class="text-center">sl no.</th>
                                    <th class="text-center">Comment</th>
                                    <th class="text-center">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for c in comments %}
                                <tr class="table-row">
                                    <td class="text-center">{{forloop.counter }}</td>
                                    <td class="text-center">{{c.comments}}</td>
                                    <td class="text-center"><a class="text-danger" href="{% url 'Fin_deleteItemComment' c.id %}" onclick="return confirm('Are you sure you want to delete.?')"><i class="fa fa-trash" style="font-size: 1.1rem;"></i></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn" id="commentSaveBtn">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    function overview() {
        document.getElementById('overview').style.display = 'block';
        document.getElementById('transaction').style.display = 'none';
        document.getElementById('printBtn').style.display = 'none';
        document.getElementById('pdfBtn').style.display = 'none';
        document.getElementById('shareBtn').style.display = 'none';
        document.getElementById('editBtn').style.display = 'block';
        document.getElementById('deleteBtn').style.display = 'block';
        document.getElementById('historyBtn').style.display = 'block';
        document.getElementById('commentBtn').style.display = 'block';
        document.getElementById('statusBtn').style.display = 'block';
        document.getElementById('overviewBtn').style.backgroundColor='rgba(22,37,50,255)'
        document.getElementById('transactionBtn').style.backgroundColor='transparent'
    }
    
    function transaction() {
        document.getElementById('overview').style.display = 'none';
        document.getElementById('transaction').style.display = 'block';
        document.getElementById('printBtn').style.display = 'block';
        document.getElementById('pdfBtn').style.display = 'block';
        document.getElementById('shareBtn').style.display = 'block';
        document.getElementById('editBtn').style.display = 'none';
        document.getElementById('deleteBtn').style.display = 'none';
        document.getElementById('historyBtn').style.display = 'none';
        document.getElementById('commentBtn').style.display = 'none';
        document.getElementById('statusBtn').style.display = 'none';
        document.getElementById('overviewBtn').style.backgroundColor='transparent'
        document.getElementById('transactionBtn').style.backgroundColor='rgba(22,37,50,255)'
    }

    $(document).ready(function(){
        var stock = parseInt(`{{item.current_stock}}`);
        var rate = parseFloat(`{{item.purchase_price}}`);
        var value = $("#stockValue");
        
        if(!isNaN(stock) && !isNaN(rate)){
            value.text(parseFloat(stock * rate));
        } else {
            value.text(0);
        }
    });

    function printSection(sectionId) {
        document.body.style.backgroundColor = 'white';
        $('#transaction, #transaction *').css('color', 'black');

        var printContents = document.getElementById(sectionId).innerHTML;
        var $printerDiv = $('<div class="printContainer"></div>');
        $printerDiv.html(printContents);
        $('body').append($printerDiv).addClass("printingContent");

        window.print();
        $printerDiv.remove();
        $('body').removeClass("printingContent");
        $('#transaction, #transaction *').css('color', 'white');

        
        // var contentToPrint = document.getElementById(sectionId).innerHTML;

        // var iframe = document.getElementById('printIframe');

        // iframe.contentDocument.body.innerHTML = contentToPrint;

        // iframe.style.display = 'block';

        // iframe.contentWindow.print();

        // iframe.style.display = 'none';
        
    
    }

    $(document).ready(function(){
        $('#share_with_email').on('click',function(){
            var emailsInput = document.getElementById('emailIds');
            var emailsString = emailsInput.value.trim();

            var emails = emailsString.split(',').map(function(email) {
                return email.trim();
            });

            var emailRegex = /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/;

            var invalidEmails = []
            if(emailsString == ""){
                alert('Enter valid email addresses..')
            }
            else{
                for (var i = 0; i < emails.length; i++) {
                    var currentEmail = emails[i];

                    if (currentEmail!="" && !emailRegex.test(currentEmail)) {
                        console.log(currentEmail + ' is invalid!');
                        invalidEmails.push(currentEmail)
                    }
                }
                
                if(invalidEmails.length > 0){
                    alert('Invalid emails..Please check!\n'+invalidEmails)
                    // alert(invalidEmails)
                }else{
                    $('#share_to_email_form').submit();
                }
            }
        })
    });

</script>
{% endblock %}