<!-- Created --shemeem  -->
{% extends 'company/Fin_base.html' %}
{% block body %}
<div class="page-content">
  <div class="card radius-15 h-20">
    <div class="row">
      <div class="col-md-12">
        <center><h2 class="mt-3">CASH IN HAND</h2></center>
        <hr/>
      </div>
    </div>
  </div>

  <div class="card radius-15">
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="d-flex">
              <input type="text" id="search" class="form-control form-control-sm" placeholder="Search.." autocomplete="off"/>
              <div class="dropdown ml-1" style="justify-content: left">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle btn-sm text-grey" data-toggle="dropdown"><i class="fa fa-sort"></i> Sort by</button>
                <div class="dropdown-menu" style="background-color: black">
                  <a class="dropdown-item" style="height: 40px; font-size: 15px; color: white;" onclick="sortTable(1)">Type</a>
                  <a class="dropdown-item" style="height: 40px; font-size: 15px; color: white;" onclick="sortTable(2)">Name</a>
                  <a class="dropdown-item" style="height: 40px; font-size: 15px; color: white;" onclick="sortAmountAscending()">Amount</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="filter">
              <div class="form-inline">
                <input type="date" name="start_date" id="startDate" class="form-control form-control-sm mr-1" required>
                TO
                <input type="date" name="end_date" id="endDate" class="form-control form-control-sm ml-1" required>
                <button class="btn btn-sm btn-outline-secondary ml-2" type="button" onclick="filterTableByDate()">Filter</button>
              </div>
            </div>
          </div>
          <div class="col-md-5 d-flex justify-content-end">
            <button type="button" onclick="window.location.href=`{% url 'Fin_cashInHandGraph' 'month' %}`" class="btn btn-sm btn-outline-secondary text-grey d-flex align-items-center" id="graphBtn"><i class="fa fa-chart-pie mr-1"></i>Graph</button>
            <button type="button" onclick="window.location.href=`{% url 'Fin_cashInHandStatement' %}`" class="btn btn-sm btn-outline-secondary text-grey d-flex align-items-center ml-1" id="statementBtn"><i class="fa fa-file mr-1"></i>Statement</button>
            <a href="{% url 'Fin_addCash' %}" class="ml-1"></i><button type="button" class="btn btn-sm btn-outline-secondary text-grey"><i class="fa fa-plus mr-1"></i>Add Cash</button></a>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-between">
            <div class="filter">
              <!-- <form action="#">
                <div class="form-inline">
                  <input type="date" name="start_date" id="startDate" class="form-control form-control-sm mr-1" required>
                  TO
                  <input type="date" name="end_date" id="endDate" class="form-control form-control-sm ml-1" required>
                  <button class="btn btn-sm btn-outline-secondary ml-2" type="submit">Filter</button>
                </div>
              </form> -->
            </div>
            <div class="bal_section pt-3 pr-3">
              <span class="h4 font-weight-bold text-info">BALANCE: <span id="bal">0</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-responsive-md table-hover mt-4 cashInHandTable" id="cashInHandTable" style="text-align: center">
        <thead>
          <tr>
            <th>DATE</th>
            <th>TYPE</th>
            <th>NAME</th>
            <th>AMOUNT</th>
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody>
          {% for a in cash %}
          <tr>
            <td>{{ a.adjust_date|date:'Y-m-d' }}</td>
            <td>{{ a.adjustment|upper }}</td>
            <td></td>
            <td>{{ a.amount }}</td>
            <td>
              <div class="dropdown">
                <i class="fa fa-ellipsis-v" style="font-size:24px; cursor: pointer;" data-toggle="dropdown"></i>
                <div class="dropdown-menu">
                    <a class="dropdown-item edit-item" href="{% url 'Fin_editAddCash' a.id %}" >Edit</a>

                    <a class="dropdown-item delete-item" href="{% url 'Fin_deleteAddedCash' a.id %}" onclick="return confirm('Are you sure you want to delete ?')">Delete</a>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}

          {% for a in bank_transactions %}
          <tr>
            <td>{{ a.adjustment_date|date:'Y-m-d' }}</td>
            <td>{{ a.transaction_type|upper }}</td>
            <td></td>
            <td>{{ a.amount }}</td>
            <td>
              <i class="fa fa-ellipsis-v text-muted" style="font-size:24px"></i>
            </td>
          </tr>
          {% endfor %}
          
          {% for a in invoice %}
          <tr>
            <td>{{ a.invoice_date|date:'Y-m-d' }}</td>
            <td>INVOICE</td>
            <td>{{a.Customer.first_name}} {{a.Customer.last_name}}</td>
            <td>{{ a.paid_off }}</td>
            <td>
              <i class="fa fa-ellipsis-v text-muted" style="font-size:24px"></i>
            </td>
          </tr>
          {% endfor %}
          
          {% for a in recInvoice %}
          <tr>
            <td>{{ a.start_date|date:'Y-m-d' }}</td>
            <td>RECURRING INVOICE</td>
            <td>{{a.Customer.first_name}} {{a.Customer.last_name}}</td>
            <td>{{ a.paid_off }}</td>
            <td>
              <i class="fa fa-ellipsis-v text-muted" style="font-size:24px"></i>
            </td>
          </tr>
          {% endfor %}

          {% for a in creditNote %}
          <tr>
            <td>{{ a.creditnote_date|date:'Y-m-d' }}</td>
            <td>CREDIT NOTE</td>
            <td>{{a.Customer.first_name}} {{a.Customer.last_name}}</td>
            <td>{{ a.paid }}</td>
            <td>
              <i class="fa fa-ellipsis-v text-muted" style="font-size:24px"></i>
            </td>
          </tr>
          {% endfor %}

          {% for a in salesOrder %}
          <tr>
            <td>{{ a.sales_order_date|date:'Y-m-d' }}</td>
            <td>SALES ORDER</td>
            <td>{{a.Customer.first_name}} {{a.Customer.last_name}}</td>
            <td>{{ a.paid_off }}</td>
            <td>
              <i class="fa fa-ellipsis-v text-muted" style="font-size:24px"></i>
            </td>
          </tr>
          {% endfor %}

          {% for a in retainerInvoice %}
          <tr>
            <td>{{ a.Retainer_Invoice_date|date:'Y-m-d' }}</td>
            <td>RETAINER INVOICE</td>
            <td>{{a.Customer.first_name}} {{a.Customer.last_name}}</td>
            <td>{{ a.Paid_amount }}</td>
            <td>
              <i class="fa fa-ellipsis-v text-muted" style="font-size:24px"></i>
            </td>
          </tr>
          {% endfor %}

          {% comment %}{% for a in paymentReceived %}
          <tr>
            <td>{{ a.payment_date|date:'Y-m-d' }}</td>
            <td>PAYMENT RECEIVED</td>
            <td>{{a.customer.first_name}} {{a.customer.last_name}}</td>
            <td>{{ a.paid_off }}</td>
            <td>
              <i class="fa fa-ellipsis-v text-muted" style="font-size:24px"></i>
            </td>
          </tr>
          {% endfor %} {% endcomment %}

          {% for a in bill %}
          <tr>
            <td>{{ a.bill_date|date:'Y-m-d' }}</td>
            <td>BILL</td>
            <td>{{a.vendor.first_name}} {{a.vendor.last_name}}</td>
            <td>{{ a.paid }}</td>
            <td>
              <i class="fa fa-ellipsis-v text-muted" style="font-size:24px"></i>
            </td>
          </tr>
          {% endfor %}

          {% for a in recurringBill %}
          <tr>
            <td>{{ a.date|date:'Y-m-d' }}</td>
            <td>RECURRING BILL</td>
            <td>{{a.vendor.first_name}} {{a.vendor.last_name}}</td>
            <td>{{ a.advanceAmount_paid }}</td>
            <td>
              <i class="fa fa-ellipsis-v text-muted" style="font-size:24px"></i>
            </td>
          </tr>
          {% endfor %}

          {% for a in purchaseOrder %}
          <tr>
            <td>{{ a.purchase_order_date|date:'Y-m-d' }}</td>
            <td>PURCHASE ORDER</td>
            <td>{{a.Vendor.first_name}} {{a.Vendor.last_name}}</td>
            <td>{{ a.paid_off }}</td>
            <td>
              <i class="fa fa-ellipsis-v text-muted" style="font-size:24px"></i>
            </td>
          </tr>
          {% endfor %}

          {% for a in debitNote %}
          <tr>
            <td>{{ a.debit_note_date|date:'Y-m-d' }}</td>
            <td>DEBIT NOTE</td>
            <td>{{a.Vendor.first_name}} {{a.Vendor.last_name}}</td>
            <td>{{ a.paid }}</td>
            <td>
              <i class="fa fa-ellipsis-v text-muted" style="font-size:24px"></i>
            </td>
          </tr>
          {% endfor %}

          {% comment %}{% for a in paymentMade %}
          <tr>
            <td>{{ a.payment_date|date:'Y-m-d' }}</td>
            <td>PAYMENT MADE</td>
            <td>{{a.vendor.first_name}} {{a.vendor.last_name}}</td>
            <td>{{ a.total_payment }}</td>
            <td>
              <i class="fa fa-ellipsis-v text-muted" style="font-size:24px"></i>
            </td>
          </tr>
          {% endfor %} {% endcomment %}

          {% for a in empLoan %}
          <tr>
            <td>{{ a.loan_date|date:'Y-m-d' }}</td>
            <td>EMPLOYEE LOAN</td>
            <td>{{a.employee.first_name}} {{a.employee.last_name}}</td>
            <td>{{ a.loan_amount }}</td>
            <td>
              <i class="fa fa-ellipsis-v text-muted" style="font-size:24px"></i>
            </td>
          </tr>
          {% endfor %}

          {% for a in empAddLoan %}
          <tr>
            <td>{{ a.new_date|date:'Y-m-d' }}</td>
            <td>EMPLOYEE ADDITIONAL LOAN</td>
            <td>{{a.employee_loan.employee.first_name}} {{a.employee_loan.employee.last_name}}</td>
            <td>{{ a.new_loan }}</td>
            <td>
              <i class="fa fa-ellipsis-v text-muted" style="font-size:24px"></i>
            </td>
          </tr>
          {% endfor %}

          {% for a in loanRepay %}
          <tr>
            <td>{{ a.payment_date|date:'Y-m-d' }}</td>
            <td>EMI PAID</td>
            <td>{{a.employee.first_name}} {{a.employee.last_name}}</td>
            <td>{{ a.principle_amount }}</td>
            <td>
              <i class="fa fa-ellipsis-v text-muted" style="font-size:24px"></i>
            </td>
          </tr>
          {% endfor %}

          {% for a in empSalary %}
          <tr>
            <td>{{ a.salary_date|date:'Y-m-d' }}</td>
            <td>EMPLOYEE SALARY</td>
            <td>{{a.employee.first_name}} {{a.employee.last_name}}</td>
            <td>{{ a.total_salary }}</td>
            <td>
              <i class="fa fa-ellipsis-v text-muted" style="font-size:24px"></i>
            </td>
          </tr>
          {% endfor %}

          
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
<script>
  $(document).ready(function(){
    calculateBalance();
  });

  function filterTableByDate() {
    var start = $('#startDate').val();
    var end = $('#endDate').val();
    console.log(start,end)
    if(start != "" && end != ""){

      var startDate = new Date(start);
      var endDate = new Date(end);
      var table = document.getElementById('cashInHandTable');
      var rows = table.getElementsByTagName('tr');
  
      for (var i = 1; i < rows.length; i++) {
        var row = rows[i];
        var rowData = row.getElementsByTagName('td')[0].textContent;
  
        var rowDate = new Date(rowData);
  
        if (rowDate >= startDate && rowDate <= endDate) {
          row.style.display = '';
        } else {
          row.style.display = 'none';
        }
      }
      calculateBalance();
    }else{
      alert('Select valid Start and End dates')
    }
  }

  function calculateBalance(){
    var table = document.getElementById('cashInHandTable');
    var rows = table.getElementsByTagName('tr');
    var balance = 0

    for (var i = 1; i < rows.length; i++) {
      var row = rows[i];
      if(row.style.display != 'none'){
        var amt = parseFloat(row.getElementsByTagName('td')[3].textContent);
        var type = row.getElementsByTagName('td')[1].textContent;
  
        if(type === 'ADD CASH' || type === 'INVOICE' || type === 'RECURRING INVOICE' || type === 'CASH DEPOSIT' || type === 'DEBIT NOTE' || type ==='SALES ORDER' || type === 'RETAINER INVOICE' || type === 'EMI PAID'){
          balance += amt
        }else{
          balance -= amt
        }
      }

    }
    console.log('balance==',balance)
    $('#bal').text(balance)
  }

  var $rows = $('#cashInHandTable tbody tr');
  $('#search').keyup(function() {
    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
    
    $rows.show().filter(function() {
      var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
      return !~text.indexOf(val);
    }).hide();
  });
  
  document.getElementById("exportBtn").addEventListener("click", function () {
    const Table = document.getElementById("cashInHandTable");
    const ws = XLSX.utils.table_to_sheet(Table);
    const wb = XLSX.utils.book_new();
    XLSX.utils.book_append_sheet(wb, ws, "Sheet1");
    XLSX.writeFile(wb, "Expense.xlsx");
  });

  jQuery(document).ready(function ($) {
    $(".clickable-row").click(function () {
      window.location = $(this).data("href");
    });
  });

  function sortTable(columnIndex) {
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("cashInHandTable");
    switching = true;

    while (switching) {
      switching = false;
      rows = table.rows;

      for (i = 1; i < (rows.length - 1); i++) {
        shouldSwitch = false;
        x = rows[i].getElementsByTagName("td")[columnIndex].textContent.toLowerCase();
        y = rows[i + 1].getElementsByTagName("td")[columnIndex].textContent.toLowerCase();

        if (x > y) {
            shouldSwitch = true;
            break;
        }
      }

      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
      }
    }
  }

  function filterTable(row,filterValue) {
    var table1 = document.getElementById("cashInHandTable");
    var rows1 = table1.getElementsByTagName("tr");

    for (var i = 1; i < rows1.length; i++) {
      var statusCell = rows1[i].getElementsByTagName("td")[row];

      if (filterValue == "all" || statusCell.textContent.toLowerCase() == filterValue) {
        rows1[i].style.display = "";
      } else {
        rows1[i].style.display = "none";
      }
    }
  }

  function sortAmountAscending() {
    var table = document.getElementById("cashInHandTable");
    var rows = Array.from(table.rows).slice(1);

    rows.sort(function (a, b) {
      var amtA = parseFloat(a.cells[3].textContent);
      var amtB = parseFloat(b.cells[3].textContent);
      return amtA - amtB;
    });

    // Remove existing rows from the table
    for (var i = table.rows.length - 1; i > 0; i--) {
        table.deleteRow(i);
    }

    // Append the sorted rows back to the table
    rows.forEach(function (row) {
        table.tBodies[0].appendChild(row);
    });
  }

  $(document).ready(function(){
      var date1 = "";
      $('#startDate').on('change',function(){
          date1 = $(this).val()
          $('#endDate').prop('min',date1)
      })
  })
  $(document).ready(function(){
      var date2 = "";
      $('#endDate').on('change',function(){
          date2 = $(this).val()
          $('#startDate').prop('max',date2)
      })
  })
</script>

{% endblock %}
