{% extends 'company/Fin_base.html' %}
{% block body %}
{% load static %}

<!-- harikrishnan -->


<!--<link href="style.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>


<!-- fontawesome icons -->
<link href="{% static 'assets/fontawesome/css/fontawesome.css' %}" rel="stylesheet">
<link href="{% static 'assets/fontawesome/css/brands.css' %}" rel="stylesheet">
<link href="{% static 'assets/fontawesome/css/solid.css' %}" rel="stylesheet">

<!-- Include FullCalendar CSS -->

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
<link rel="stylesheet" href="{% static 'assets/plugins/fullcalendar/css/main.min.css' %}">

<!-- Include jQuery from a CDN -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<!-- Include xlsx library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

<!-- pdf -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

<!-- Add html2pdf library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

<style>
    #calendar{
        height: 437px;
        margin-bottom: 0px;
    }
    .page-content{
        margin: 0;
        padding: 0;
    }
    @media print {

        body {
            visibility: hidden;
            /* background-color: white; */
        }
        .top-header,
        #template {
            visibility: hidden;

        }

        #cal_list a,
        #headDing {
            display: none;
        }

        #holidayList,
        #holidayList * ,
        #card-title{
            visibility: visible;
            z-index: 99999;
            margin-top: -70px;
            color: black;
            font-size: 30px;
            width: 100%;
        }
        #card-title{
            font-size: 35px;
        }

        #holidayList tr td:last-child,
        #holidayList tr th:last-child {
            display: none;
        }

        .printContainer {
            visibility: visible !important;
            position: absolute;
            z-index: 99999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: large;
        }
    }

    #holidayList tr,
    #holidayList td {
        text-align: center;
    }
</style>
<div class="page-content">

    <div class="row radius-15">
        <div id="calendarDiv" class="col">
            <center>
                <h3><a href="" id="calendarLink"
                        style="padding: 10px 20%;border-top-right-radius: 15px;border-top-left-radius: 15px;">Calendar</a>
                </h3>
            </center>
        </div>
        <div id="holidayListDiv" class="col">
            <center>
                <h3><a href="" id="holidayListLink"
                        style="padding: 10px 20%;border-top-right-radius: 15px;border-top-left-radius: 15px;">Attendance
                        List</a></h3>
            </center>
        </div>
    </div>


    <div class="card radius-15">
        <div class="ml-auto"><a style="cursor: pointer;" title="Close" href="{% url 'Fin_Attendance' %}"><i
                    class="fa-solid fa-circle-xmark fa-2xl"></i></a></div>
        <div class="card-body">

            <div class="row" id="cal">
                <div class="col" id="calendar"></div>
            </div>

            <div class="row" id="cal_list">
                <div class="card-body" style="width:100%;">
                    <div class="card-title">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <a style="padding: 10px; cursor: pointer; border-radius: 1vh; background-color: rgba(22,37,50,255);"
                                        onclick="overview()" id="overviewBtn">Overview</a>
                                    <a style="padding: 10px; cursor: pointer; border-radius: 1vh;" onclick="template()"
                                        id="templateBtn"> Leaves</a>
                                </div>

                                <div class="col-md-6 d-flex justify-content-end">
                                    {% if invoice.status == 'Draft' %}
                                    <div class="dropdown p-0 nav-item" id="convertBtn" style="display: block;">
                                        <li class="dropdown-toggle btn btn-outline-secondary text-grey fa fa-exchange"
                                            data-toggle="dropdown">&nbsp;Convert</li>
                                        <ul class="dropdown-menu" style="background-color: black;" id="">
                                            <a class="dropdown-item" href="#">Saved</a>
                                        </ul>
                                    </div>
                                    {% endif %}
                                    <a class="ml-2 btn btn-outline-secondary text-grey fa fa-table" role="button"
                                        id="exportBtn" style="display: none;"
                                        onclick="ExportToExcel('xlsx')">&nbsp;Export</a>
                                    <a href="#" class="ml-2 btn btn-outline-secondary text-grey fa fa-file"
                                        role="button" id="pdfBtn" style="display: none; " onclick="ExportAsPDF()"
                                        title="Download PDF"> &nbsp;PDF</a>
                                    <a class="ml-2 btn btn-outline-secondary text-grey fa fa-print" role="button"
                                        id="printBtn" onclick="printSection()" data-employee-id="{{employ.id}}"
                                        title="Print" style="display: none;">&nbsp;Print</a>
                                    <div class="dropdown p-0 nav-item" id="shareBtn" style="display: none;">
                                        <li class="ml-2 dropdown-toggle btn btn-outline-secondary text-grey fa fa-share-alt"
                                            data-toggle="dropdown">&nbsp;Share</li>
                                        <ul class="dropdown-menu" style="background-color: black;" id="listdiv">
                                            <li style="text-align: center;color: #e5e9ec; cursor: pointer;"
                                                onclick="shareOnWhatsApp()">Whatsapp</li>
                                            <li style="text-align: center;color: #e5e9ec; cursor: pointer;"
                                                data-toggle="modal" data-target="#shareBillEmail">Email</li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <center>
                            <h3 class="card-title" id="card-title"> OVERVIEW</h3>
                        </center>
                    </div>
                </div>
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">

                        <div id="overview">
                            <div class="row g-0 mx-0">

                                <div class="pb-3 px-2" style="width: 100%;">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <div class="row">
                                                <div class="col mt-3">
                                                    <h2 class="mb-0">{{emp.first_name}} {{emp.last_name}}</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />

                                        <div class="row mb-4 d-block justify-content-between align-items-center">
                                            <div class="col-md-4 mt-3">

                                            </div>
                                            <div class="col-md-4 mt-3"></div>
                                            <div class="col-md-4 mt-3"></div>

                                            <div class="col-md-2 mt-3">
                                                <h6 class="mb-0">Total Holidays : {{ events_count}}</h6>
                                            </div>
                                            <br>
                                            <div class="col-md-2 mt-3">
                                                <h6 class="mb-0">Total Working Days : {{working_days}}</h6>
                                            </div>
                                            <br>
                                            <div class="col-md-2 mt-3 ">
                                                <h6 class="mb-0">Total Leave : {{ attendance_count }}</h6>
                                            </div>

                                        </div>


                                        <hr class="my-4">


                                    </div>
                                </div>


                            </div>
                        </div>

                        <div id="template" style="display: none;">
                            <div id="whatToPrint" class="print-only">

                                <div class="table-responsive">
                                    <br><br>
                                    <table class="table ml-3" style="width: 95%;" id="holidayList">
                                        <center>
                                            <h3 id="headDing"><span id="monthName">{{month}}</span>, {{year}}</h3>
                                        </center><br>
                                        <thead class="thead">
                                            <tr style="font-size: large; ">
                                                <th>Sl No.</th>
                                                <th>NAME</th>
                                                <th>START DATE</th>
                                                <th>END DATE</th>
                                                <th>ACTION</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in attendance %}
                                            <tr style="font-size: large;">
                                                <td>{{forloop.counter}}</td>

                                                <td style="text-transform: capitalize;">{{i.reason}}</td>
                                                <td>{{i.start_date}}</td>
                                                <td>{{i.end_date}}</td>
                                                <td
                                                    style="display: flex;align-content: space-between;padding-left: 33%;">

                                                    <a
                                                        href="{% url 'Fin_deleteAttendance' id=i.id mn=month_name yr=year pk=emp.id %}"><i
                                                            style="color: crimson;"
                                                            class="fa-solid fa-trash"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <a
                                                        href="{% url 'Fin_editAttendance' id=i.id mn=month_name yr=year pk=emp.id %}">
                                                        <i style="color: cyan;" class="fa-solid fa-pen-to-square"></i>
                                                    </a>&nbsp;&nbsp;
                                                    <div class="dropdown" style="margin-top: -7px;">
                                                        <button type="button" class="btn btn-grey"
                                                            data-toggle="dropdown"><i
                                                                class="fa-solid fa-ellipsis-vertical"></i></button>
                                                        <div class="dropdown-menu"
                                                            style="background-color: black;border-radius: 2px;">
                                                            <a class="dropdown-item"
                                                                href="{% url 'Fin_attendance_history' id=i.id mn=month_name yr=year %}"
                                                                style="height: 40px; font-size: 15px; color: white">
                                                                History
                                                            </a>
                                                            <a class="dropdown-item"
                                                                style="height: 40px; font-size: 15px; color: white;cursor: pointer;"
                                                                data-toggle="modal" data-target="#commentModal{{i.id}}"
                                                                id="commentView{{i.id}}"
                                                                onclick="leave_comment(this.id)">Comments</a>


                                                        </div>

                                                    </div>
                                                    <!-- modal -->
                                                    <div class="modal fade" id="commentModal{{i.id}}" tabindex="-1"
                                                        role="dialog" aria-labelledby="exampleModalLabel"
                                                        aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Leave
                                                                        a
                                                                        Comment</h5>
                                                                    <button type="button" class="close"
                                                                        data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>

                                                                <form
                                                                    action="{% url 'Fin_addcommentstoleave' id=i.id mn=month_name yr=year pk=emp.id %}"
                                                                    method="post">
                                                                    {% csrf_token %}
                                                                    <div class="modal-body">

                                                                        <div><label for="">Leave A Comment : </label>
                                                                            <textarea name="comment" cols="5" rows="3"
                                                                                class="form-control"></textarea>
                                                                        </div>
                                                                        <br>
                                                                        <div style="text-align: left;">
                                                                            <h5 class="pb-1 mb-3"
                                                                                style="text-decoration: underline;text-underline-offset: 10px;">
                                                                                Previous
                                                                                Comments</h5>
                                                                            <label style="font-size: large;" for=""
                                                                                id="commntlist{{i.id}}">
                                                                            </label>
                                                                            <!--<a href="#"
                                                                            id="deleteButton" style="color: crimson;"><i
                                                                                class="fa-solid fa-trash"></i></a><br>
            
                                                                        <h5 class="pb-1 mb-2">No Comments Yet</h5>-->


                                                                        </div>

                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="submit"
                                                                            class="btn btn-secondary">Save
                                                                            changes</button>
                                                                        <button type="button" class="btn btn-danger"
                                                                            data-dismiss="modal">Close</button>
                                                                    </div>
                                                                </form>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>

                                            {% endfor %}
                                        </tbody>
                                    </table>


                                </div>
                            </div>



                        </div>
                    </div>



                </div>


            </div>
            <!-- Share bill Modal -->
            <div class="modal fade" id="shareBillEmail" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="shareBillEmailLabel">Share Leave Statement Via Email</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="card p-3 m-3">
                                <form
                                    action="{% url 'Fin_shareLeaveStatementToEmail' id=emp.id mn=month_name yr=year %}"
                                    method="post" class="needs-validation" id="share_to_email_form" autocomplete="off">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="emailIds">Email IDs</label>
                                        <textarea class="form-control text-white" name="email_ids" id="emailIds"
                                            rows="5"
                                            placeholder="Multiple emails can be added by separating with a comma(,)."
                                            required></textarea>
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="item_unitname">Message(optional)</label>
                                        <textarea name="email_message" id="email_message"
                                            class="text-white form-control" cols="" rows="4"
                                            placeholder="This message will be sent along with Bill details."></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer d-flex justify-content-center"
                                style="border-top: 1px solid #ffff;">
                                <input type="submit" id="share_with_email"
                                    class="submitShareEmailBtn rounded-pill text-dark w-50 my-4 mx-3" value="SEND MAIL">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>

        function overview() {
            document.getElementById('overview').style.display = 'block';
            document.getElementById('template').style.display = 'none';
            document.getElementById('overviewBtn').style.backgroundColor = 'rgba(22,37,50,255)'
            document.getElementById('templateBtn').style.backgroundColor = 'transparent';
            $('#shareBtn').hide();
            document.getElementById("card-title").textContent = 'OVERVIEW';

            $('#printBtn').hide();
            $('#pdfBtn').hide();
            $('#convertBtn').show();
            $('#editBtn').show();
            $('#deleteBtn').show();
            $('#historyBtn').show();
            $('#commentsBtn').show();
        }

        function template() {
            document.getElementById('overview').style.display = 'none';
            document.getElementById('template').style.display = 'block';
            document.getElementById('overviewBtn').style.backgroundColor = 'transparent';
            document.getElementById('templateBtn').style.backgroundColor = 'rgba(22,37,50,255)';
            $("#printBtn").attr("onclick", "printSection('whatToPrint')");
            $('#shareBtn').show();
            document.getElementById("card-title").textContent = 'LEAVES';

            $('#printBtn').show();
            $('#pdfBtn').show();
            $('#editBtn').hide();
            $('#convertBtn').hide();
            $('#deleteBtn').hide();
            $('#historyBtn').show();
            $('#commentsBtn').show();
        }
        // -----------------------------------------------

        $(document).ready(function () {
            $('#share_with_email').on('click', function () {
                var emailsInput = document.getElementById('emailIds');
                var emailsString = emailsInput.value.trim();

                var emails = emailsString.split(',').map(function (email) {
                    return email.trim();
                });

                var emailRegex = /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/;

                var invalidEmails = []
                if (emailsString == "") {
                    alert('Enter valid email addresses..')
                }
                else {
                    for (var i = 0; i < emails.length; i++) {
                        var currentEmail = emails[i];

                        if (currentEmail != "" && !emailRegex.test(currentEmail)) {
                            console.log(currentEmail + ' is invalid!');
                            invalidEmails.push(currentEmail)
                        }
                    }

                    if (invalidEmails.length > 0) {
                        alert('Invalid emails..Please check!\n' + invalidEmails)
                        // alert(invalidEmails)
                    } else {
                        $('#share_to_email_form').submit();
                    }
                }
            })
        });


        // Leave history

        function leave_comment(id_str) {
            id = id = id_str.split("commentView")[1];
            $.ajax({
                url: '{% url "Fin_attendancecomments" %}',
                type: 'GET',
                data: {
                    hid: id,
                },

                success: function (response) {
                    if (response.data.length > 0) {
                        var label = document.getElementById(`commntlist${id}`);
                        label.innerHTML = ''; // Clear existing content

                        for (var i = 0; i < response.data.length; i++) {
                            var cmnt = response.data[i].action;
                            console.log(cmnt);
                            label.innerHTML += `<ol>${cmnt}</ol>`;


                        }
                    }
                    else {
                        var label = document.getElementById(`commntlist${id}`);
                        label.innerHTML = 'No Comments Yet'; // Clear existing content
                    }
                },
                error: function () {
                    console.error('Error checking product existence.');
                }
            });
        }




        // -----------------------------------------------------------------------------------
        // month number to name

        function numberToMonth(number) {
            const months = [
                'January', 'February', 'March', 'April',
                'May', 'June', 'July', 'August',
                'September', 'October', 'November', 'December'
            ];

            // Ensure the number is within a valid month range
            if (number >= 0 && number <= 12) {
                return months[number];
            } else {
                return 'Invalid Month';
            }
        }

        // Get the element with id "monthName"
        const monthNameElement = document.getElementById('monthName');
        console.log(monthNameElement);

        // Ensure the element exists
        if (monthNameElement) {
            const monthNumber = parseInt(monthNameElement.textContent, 10);

            // Check if the content is a valid number
            if (!isNaN(monthNumber)) {
                const monthString = numberToMonth(monthNumber);
                monthNameElement.textContent = monthString;
            } else {
                monthNameElement.textContent = 'Invalid Number';
            }
        }


        // -----------------------------------------------
        // print



        /*function PrintTable() {
    
            var printContents = document.getElementById("holidayList").innerHTML;
            var $printerDiv = $('<div class="printContainer hidden"></div>'); // create the div that will contain the stuff to be printed
            $printerDiv.html(printContents); // add the content to be printed
            $('body').append($printerDiv).addClass("printingContent"); // add the div to body, and make the body aware of printing (we apply a set of css styles to the body to hide its contents)
    
            window.print(); // call print
            $printerDiv.remove(); // remove the div
            $('body').removeClass("printingContent");
    
        }*/


        function printSection() {
            window.print()
        }




        // -------------------------------------------------------------------------------------
        // pdf



        function ExportAsPDF() {
            const container = document.getElementById('holidayList');
            // Save the original styles
            const originalStyles = {
                backgroundColor: container.style.backgroundColor,
                color: container.style.color,
            };

            // Set the container's background color to white and text color to black for specific columns
            const headerCells = container.querySelectorAll('thead th');
            const dataCells = container.querySelectorAll('tbody td');


            headerCells.forEach(cell => {
                cell.style.backgroundColor = 'white';
                cell.style.color = 'black';
            });

            dataCells.forEach(cell => {
                cell.style.backgroundColor = 'white';
                cell.style.color = 'black';
            });

            const lastColumnIndex = container.rows[0].cells.length - 1; // Assuming the table has a header row
            Array.from(container.rows).forEach(row => {
                row.cells[lastColumnIndex].style.display = 'none';
            });

            // Add margin to the PDF
            const margin = 10; // Adjust as needed
            const pdfOptions = {
                margin: [margin, margin, margin, margin], // top, right, bottom, left
                filename: "{{emp.first_name}} {{emp.last_name}}-{{month_name}}-leaves.pdf",
                image: { type: 'jpeg', quality: 1 },
                html2canvas: { scale: 2 },
                jsPDF: { unit: 'mm', format: 'a3', orientation: 'portrait' }, // Adjust format and orientation
            };

            html2pdf().from(container).set(pdfOptions).save().then(() => {
                // Display the last column again after downloading the PDF
                Array.from(container.rows).forEach(row => {
                    row.cells[lastColumnIndex].style.display = 'flex';
                });

                headerCells.forEach(cell => {
                    cell.style.backgroundColor = '';
                    cell.style.color = originalStyles.color;
                });

                dataCells.forEach(cell => {
                    cell.style.backgroundColor = '';
                    cell.style.color = originalStyles.color;
                });

                container.style.backgroundColor = originalStyles.backgroundColor;
                container.style.color = originalStyles.color;
            });
        }







        // ----------------------------------------------------------------------------------
        // calendar (ignore the error - code working fine)

        document.addEventListener('DOMContentLoaded', function () {
            const dateRange = [];
            const dateRanges = [];
            const holis = [];

            {% for i in attendance %}
            {
                const start = '{{i.start_date}}';
                const end = '{{i.end_date}}';
                const allDateRanges = getDatesInRange(start, end);
                dateRange.push(allDateRanges);
            }
            {% endfor %}
            {% for i in events %}
            {
                const start_d = '{{i.start_date}}';
                const end_d = '{{i.end_date}}';
                const holi = '{{i.holiday_name}}'
                const allDateRangess = getDatesInRange(start_d, end_d);
                dateRanges.push(allDateRangess);
                holis.push(holi);

            }
            {% endfor %}

            const eventss = [];

            // Loop through each date in the dateRange
            for (let i = 0; i < dateRange.length; i++) {
                const dr = dateRange[i]
                for (let j = 0; j < dr.length; j++) {

                    const event = {
                        title: 'leave',
                        start: dr[j], // Use the current date from the array
                        allDay: true, // Set to true for all-day events
                        color: 'red',
                    };
                    eventss.push(event); // Add the event to the events array
                }
            }

            for (let i = 0; i < dateRanges.length; i++) {
                const dr = dateRanges[i]
                const holid = holis[i]
                for (let j = 0; j < dr.length; j++) {

                    const event = {
                        title: holid,
                        start: dr[j], // Use the current date from the array
                        allDay: true, // Set to true for all-day events
                    };
                    eventss.push(event); // Add the event to the events array
                }
            }
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',


                events: eventss,

                eventContent: function (arg) {
                    var eventElement = document.createElement('div');
                    eventElement.innerHTML = arg.event.title;
                    eventElement.style.width = '1px'; // Adjust width as needed
                    eventElement.style.height = '20px'; // Adjust height as needed
                    eventElement.style.fontSize = '10px'; // Adjust font size as needed
                    eventElement.style.textTransform = 'capitalize'; // Capitalize the text
                    eventElement.style.marginLeft = '10px'; // Margin left
                    return { domNodes: [eventElement] };
                },
            });
        var yearToOpen = {{ year}};
        var monthToOpen = {{ month }}; // (months are 0-indexed in JavaScript)
        calendar.gotoDate(new Date(yearToOpen, monthToOpen));
        calendar.render();
});


        function getDatesInRange(startDate, endDate) {
            // Parse the input strings into Date objects
            const startDateObj = new Date(startDate);
            const endDateObj = new Date(endDate);

            const dates = []; // Array to store the Date objects

            // Create a copy of the start date
            let currentDate = new Date(startDateObj);

            while (currentDate <= endDateObj) {
                dates.push(new Date(currentDate)); // Push each Date object to the array
                currentDate.setDate(currentDate.getDate() + 1); // Increment the date by one day
            }

            return dates; // Return the array of dates
        }

        // ----------------------------------------------------------------------------------
        // hide or show calendar


        // Get references to the links and divs
        var calendarLink = document.getElementById("calendarLink");
        var holidayListLink = document.getElementById("holidayListLink");
        var calendarDiv = document.getElementById("cal");
        var holidayListDiv = document.getElementById("cal_list");


        holidayListDiv.style.display = "none"; // Hide the holiday list div
        calendarLink.style.backgroundColor = '#213b52';

        // Add click event listeners
        calendarLink.addEventListener("click", function (event) {
            event.preventDefault(); // Prevent the default behavior of the anchor tag
            calendarDiv.style.display = "block"; // Show the calendar div
            holidayListDiv.style.display = "none"; // Hide the holiday list div

            // Add class to the selected div
            calendarLink.style.backgroundColor = '#213b52';
            holidayListLink.style.backgroundColor = 'transparent';



        });

        holidayListLink.addEventListener("click", function (event) {
            event.preventDefault(); // Prevent the default behavior of the anchor tag
            calendarDiv.style.display = "none"; // Hide the calendar div
            holidayListDiv.style.display = "block"; // Show the holiday list div


            calendarLink.style.backgroundColor = 'transparent';
            holidayListLink.style.backgroundColor = '#213b52';
        });








        function shareOnWhatsApp() {
            var url = window.location.href;
            var text = url;
            text = encodeURIComponent(text);
            var whatsappUrl = "whatsapp://send?text=" + text;
            window.location.href = whatsappUrl;
        }

    </script>



    {% endblock %}