<!-- Created --shemeem  -->
{% extends 'company/Fin_base.html' %}
{% block body %}
<style>
  .w-30{
    width: 30% !important;
  }
</style>
<div class="page-content">
  <div class="card radius-15 h-20">
    <div class="row">
      <div class="col-md-12">
        <center><h2 class="mt-3">CHEQUE PAYMENTS</h2></center>
        <hr/>
      </div>
    </div>
  </div>

  <div class="card radius-15">
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="d-flex">
              <input type="text" id="search" class="form-control form-control-sm" placeholder="Search.." autocomplete="off"/>
              <div class="dropdown ml-1" style="justify-content: left">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle btn-sm text-grey" data-toggle="dropdown"><i class="fa fa-sort" style="font-size: 1rem;"></i> Sort by</button>
                <div class="dropdown-menu" style="background-color: black">
                  <a class="dropdown-item" style="height: 40px; font-size: 15px; color: white;" onclick="sortTable(0)">Date</a>
                  <a class="dropdown-item" style="height: 40px; font-size: 15px; color: white;" onclick="sortTable(2)">Name</a>
                  <a class="dropdown-item" style="height: 40px; font-size: 15px; color: white;" onclick="sortTable(4)">Check No.</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="filter">
              <div class="form-inline">
                <input type="date" name="start_date" id="startDate" class="form-control form-control-sm mr-1" required>
                TO
                <input type="date" name="end_date" id="endDate" class="form-control form-control-sm ml-1" required>
                <button class="btn btn-sm btn-outline-secondary ml-2" type="button" onclick="filterTableByDate()">Filter</button>
              </div>
            </div>
          </div>
          <div class="col-md-5 d-flex justify-content-end">
            <select class="form-control form-control-sm w-30" name="" id="filterType" onchange="filterTable(this)">
              <option value="All">All</option>
              <option value="INVOICE">Invoice</option>
              <option value="RECURRING INVOICE">Rec. Invoice</option>
              <option value="CREDIT NOTE">Credit Note</option>
              <option value="SALES ORDER">Sales Order</option>
              <option value="RETAINER INVOICE">Retainer Invoice</option>
              <option value="BILL">Bill</option>
              <option value="RECURRING BILL">Rec. Bill</option>
              <option value="PURCHASE ORDER">Purchase Order</option>
              <option value="DEBIT NOTE">Debit Note</option>
              <option value="LOAN">Loan</option>
              <option value="EMPLOYEE SALARY">Salary</option>
            </select>
            <button type="button" class="btn btn-sm btn-outline-secondary text-grey d-flex align-items-center ml-1" id="exportBtn"><i class="fa fa-table mr-1" style="font-size: 1rem;"></i>Export</button>
            <button type="button" onclick="window.location.href=`{% url 'Fin_chequeStatement' %}`" class="btn btn-sm btn-outline-secondary text-grey d-flex align-items-center ml-1" id="statementBtn"><i class="fa fa-file mr-1" style="font-size: 1rem;"></i>Statement</button>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-between">
            <div class="filter">
              <!-- <form action="#">
                <div class="form-inline">
                  <input type="date" name="start_date" id="startDate" class="form-control form-control-sm mr-1" required>
                  TO
                  <input type="date" name="end_date" id="endDate" class="form-control form-control-sm ml-1" required>
                  <button class="btn btn-sm btn-outline-secondary ml-2" type="submit">Filter</button>
                </div>
              </form> -->
            </div>
            <div class="bal_section pt-3 pr-3">
              <span class="h4 font-weight-bold text-info">TOTAL AMOUNT: <span id="bal">0</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-responsive-md table-hover mt-4 chequesTable" id="chequesTable" style="text-align: center">
        <thead>
          <tr>
            <th>DATE</th>
            <th>TYPE</th>
            <th>NAME</th>
            <th>REF. NO.</th>
            <th>CHEQUE NO.</th>
            <th>AMOUNT</th>
          </tr>
        </thead>
        <tbody>
          {% for a in invoice %}
          <tr>
            <td>{{ a.invoice_date|date:'Y-m-d' }}</td>
            <td>INVOICE</td>
            <td>{{a.Customer.first_name}} {{a.Customer.last_name}}</td>
            <td>{{a.reference_no}}</td>
            <td>{{a.cheque_no}}</td>
            <td>{{ a.paid_off }}</td>
          </tr>
          {% endfor %}
          
          {% for a in recInvoice %}
          <tr>
            <td>{{ a.start_date|date:'Y-m-d' }}</td>
            <td>RECURRING INVOICE</td>
            <td>{{a.Customer.first_name}} {{a.Customer.last_name}}</td>
            <td>{{a.reference_no}}</td>
            <td>{{a.cheque_no}}</td>
            <td>{{ a.paid_off }}</td>
          </tr>
          {% endfor %}

          {% for a in creditNote %}
          <tr>
            <td>{{ a.creditnote_date|date:'Y-m-d' }}</td>
            <td>CREDIT NOTE</td>
            <td>{{a.Customer.first_name}} {{a.Customer.last_name}}</td>
            <td>{{a.reference_number}}</td>
            <td>{{a.cheque_number}}</td>
            <td>{{ a.paid }}</td>
          </tr>
          {% endfor %}

          {% for a in salesOrder %}
          <tr>
            <td>{{ a.sales_order_date|date:'Y-m-d' }}</td>
            <td>SALES ORDER</td>
            <td>{{a.Customer.first_name}} {{a.Customer.last_name}}</td>
            <td>{{a.reference_no}}</td>
            <td>{{a.cheque_no}}</td>
            <td>{{ a.paid_off }}</td>
          </tr>
          {% endfor %}

          {% for a in retainerInvoice %}
          <tr>
            <td>{{ a.Retainer_Invoice_date|date:'Y-m-d' }}</td>
            <td>RETAINER INVOICE</td>
            <td>{{a.Customer.first_name}} {{a.Customer.last_name}}</td>
            <td>{{a.Reference_number}}</td>
            <td>{{a.Cheque_number}}</td>
            <td>{{ a.paid_off }}</td>
          </tr>
          {% endfor %}

          {% for a in bill %}
          <tr>
            <td>{{ a.bill_date|date:'Y-m-d' }}</td>
            <td>BILL</td>
            <td>{{a.vendor.first_name}} {{a.vendor.last_name}}</td>
            <td>{{a.ref_no}}</td>
            <td>{{a.cheque_no}}</td>
            <td>{{ a.paid }}</td>
          </tr>
          {% endfor %}

          {% for a in recurringBill %}
          <tr>
            <td>{{ a.date|date:'Y-m-d' }}</td>
            <td>RECURRING BILL</td>
            <td>{{a.vendor.first_name}} {{a.vendor.last_name}}</td>
            <td>{{a.reference_number}}</td>
            <td>{{a.cheque_number}}</td>
            <td>{{ a.advanceAmount_paid }}</td>
          </tr>
          {% endfor %}

          {% for a in purchaseOrder %}
          <tr>
            <td>{{ a.purchase_order_date|date:'Y-m-d' }}</td>
            <td>PURCHASE ORDER</td>
            <td>{{a.Vendor.first_name}} {{a.Vendor.last_name}}</td>
            <td>{{a.reference_no}}</td>
            <td>{{a.cheque_no}}</td>
            <td>{{ a.paid_off }}</td>
          </tr>
          {% endfor %}

          {% for a in debitNote %}
          <tr>
            <td>{{ a.debit_note_date|date:'Y-m-d' }}</td>
            <td>DEBIT NOTE</td>
            <td>{{a.Vendor.first_name}} {{a.Vendor.last_name}}</td>
            <td>{{a.reference_number}}</td>
            <td>{{a.cheque_number}}</td>
            <td>{{ a.paid }}</td>
          </tr>
          {% endfor %}

          {% for a in loanAccount %}
          <tr>
            <td>{{ a.loan_date|date:'Y-m-d' }}</td>
            <td>LOAN</td>
            <td>{{a.loan.account_name}}</td>
            <td></td>
            <td>{{a.loan.recieved_cheque}}</td>
            <td>{{ a.loan_amount }}</td>
          </tr>
          {% endfor %}

          {% for a in loanAdditional %}
          <tr>
            <td>{{ a.loan_date|date:'Y-m-d' }}</td>
            <td>ADDITIONAL LOAN</td>
            <td>{{a.loan.account_name}}</td>
            <td></td>
            <td>{{a.recieved_cheque}}</td>
            <td>{{ a.loan_amount }}</td>
          </tr>
          {% endfor %}

          {% for a in emiPaid %}
          <tr>
            <td>{{ a.loan_date|date:'Y-m-d' }}</td>
            <td>EMI PAID</td>
            <td>{{a.loan.account_name}}</td>
            <td></td>
            <td>{{a.recieved_cheque}}</td>
            <td>{{ a.loan_amount }}</td>
          </tr>
          {% endfor %}

          {% for a in empLoan %}
          <tr>
            <td>{{ a.loan_date|date:'Y-m-d' }}</td>
            <td>EMPLOYEE LOAN</td>
            <td>{{a.employee.first_name}} {{a.employee.last_name}}</td>
            <td></td>
            <td>{{a.cheque_number}}</td>
            <td>{{ a.loan_amount }}</td>
          </tr>
          {% endfor %}

          {% for a in empAddLoan %}
          <tr>
            <td>{{ a.new_date|date:'Y-m-d' }}</td>
            <td>EMPLOYEE ADDITIONAL LOAN</td>
            <td>{{a.employee_loan.employee.first_name}} {{a.employee_loan.employee.last_name}}</td>
            <td></td>
            <td>{{a.cheque_number}}</td>
            <td>{{ a.new_loan }}</td>
          </tr>
          {% endfor %}

          {% for a in loanRepay %}
          <tr>
            <td>{{ a.payment_date|date:'Y-m-d' }}</td>
            <td>EMI PAID</td>
            <td>{{a.employee.first_name}} {{a.employee.last_name}}</td>
            <td></td>
            <td>{{a.cheque_number}}</td>
            <td>{{ a.principle_amount }}</td>
          </tr>
          {% endfor %}

          {% for a in empSalary %}
          <tr>
            <td>{{ a.salary_date|date:'Y-m-d' }}</td>
            <td>EMPLOYEE SALARY</td>
            <td>{{a.employee.first_name}} {{a.employee.last_name}}</td>
            <td></td>
            <td></td>
            <td>{{ a.total_salary }}</td>
          </tr>
          {% endfor %}

          
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
<script>

  $(document).ready(function(){
    calculateBalance();
  });

  function calculateBalance(){
    var table = document.getElementById('chequesTable');
    var rows = table.getElementsByTagName('tr');
    var balance = 0

    for (var i = 1; i < rows.length; i++) {
      var row = rows[i];
      if(row.style.display != 'none'){
        var amt = parseFloat(row.getElementsByTagName('td')[5].textContent);
        var type = row.getElementsByTagName('td')[1].textContent;
  
        if(type === 'INVOICE' || type === 'RECURRING INVOICE' || type === 'DEBIT NOTE' || type ==='SALES ORDER' || type === 'RETAINER INVOICE' || type === 'EMI PAID'){
          balance += amt
        }else{
          balance -= amt
        }
      }

    }
    console.log('balance==',balance)
    $('#bal').text(balance)
  }

  function filterTableByDate() {
    var start = $('#startDate').val();
    var end = $('#endDate').val();
    console.log(start,end)
    if(start != "" && end != ""){

      var startDate = new Date(start);
      var endDate = new Date(end);
      var table = document.getElementById('chequesTable');
      var rows = table.getElementsByTagName('tr');
  
      for (var i = 1; i < rows.length; i++) {
        var row = rows[i];
        var rowData = row.getElementsByTagName('td')[0].textContent;
  
        var rowDate = new Date(rowData);
  
        if (rowDate >= startDate && rowDate <= endDate) {
          row.style.display = '';
        } else {
          row.style.display = 'none';
        }
      }
      calculateBalance();
    }else{
      alert('Select valid Start and End dates')
    }
  }

  var $rows = $('#chequesTable tbody tr');
  $('#search').keyup(function() {
    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
    
    $rows.show().filter(function() {
      var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
      return !~text.indexOf(val);
    }).hide();
  });
  
  document.getElementById("exportBtn").addEventListener("click", function () {
    const Table = document.getElementById("chequesTable");
    const ws = XLSX.utils.table_to_sheet(Table);
    const wb = XLSX.utils.book_new();
    XLSX.utils.book_append_sheet(wb, ws, "Sheet1");
    XLSX.writeFile(wb, "Cheques_Payments.xlsx");
  });

  jQuery(document).ready(function ($) {
    $(".clickable-row").click(function () {
      window.location = $(this).data("href");
    });
  });

  function sortTable(columnIndex) {
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("chequesTable");
    switching = true;

    while (switching) {
      switching = false;
      rows = table.rows;

      for (i = 1; i < (rows.length - 1); i++) {
        shouldSwitch = false;
        x = rows[i].getElementsByTagName("td")[columnIndex].textContent.toLowerCase();
        y = rows[i + 1].getElementsByTagName("td")[columnIndex].textContent.toLowerCase();

        if (x > y) {
            shouldSwitch = true;
            break;
        }
      }

      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
      }
    }
  }

  function filterTable(ele) {
    var filterValue = ele.value
    console.log(filterValue)
    var table = document.getElementById("chequesTable");
    var rows = table.getElementsByTagName("tr");

    for (var i = 1; i < rows.length; i++) {
      var statusCell = rows[i].getElementsByTagName("td")[1];

      if (filterValue == "All") {
        rows[i].style.display = "";
      }else if(filterValue == 'LOAN' && (statusCell.textContent == 'EMPLOYEE LOAN' || statusCell.textContent == 'EMPLOYEE ADDITIONAL LOAN' || statusCell.textContent == 'EMI PAID')){
        rows[i].style.display = "";
      }else if(statusCell.textContent == filterValue){
        rows[i].style.display = "";
      }else {
        rows[i].style.display = "none";
      }
    }
    calculateBalance();
  }

  function sortAmountAscending() {
    var table = document.getElementById("chequesTable");
    var rows = Array.from(table.rows).slice(1);

    rows.sort(function (a, b) {
      var amtA = parseFloat(a.cells[5].textContent);
      var amtB = parseFloat(b.cells[5].textContent);
      return amtA - amtB;
    });

    // Remove existing rows from the table
    for (var i = table.rows.length - 1; i > 0; i--) {
        table.deleteRow(i);
    }

    // Append the sorted rows back to the table
    rows.forEach(function (row) {
        table.tBodies[0].appendChild(row);
    });
  }

  $(document).ready(function(){
      var date1 = "";
      $('#startDate').on('change',function(){
          date1 = $(this).val()
          $('#endDate').prop('min',date1)
      })
  })
  $(document).ready(function(){
      var date2 = "";
      $('#endDate').on('change',function(){
          date2 = $(this).val()
          $('#startDate').prop('max',date2)
      })
  })
</script>

{% endblock %}
