{% extends 'Admin/Fin_AdminBase.html' %}
{% block body %}
{% if user.is_authenticated %}

<div class="body-wrapper p-3">
    <div class="container-fluid">
        <div class="card radius-15">
            <a href="">
                <div class="card-body">
                    <div class="card-title">
                    </div>
                    <table class="table table-responsive-md mt-4 table-hover" >
                        <thead>
                            <tr>
                                <th  style="text-align: center; text-transform: uppercase;"><b>ID</b></th>
                                <th  style="text-align: center; text-transform: uppercase;"><b>Name</b></th>
                                <th  style="text-align: center; text-transform: uppercase;"><b>Email</b></th>
                                <th  style="text-align: center; text-transform: uppercase;"><b>Contact</b></th>
                                <th  style="text-align: center; text-transform: uppercase;"><b>Payment Terms</b></th>
                                <th  style="text-align: center; text-transform: uppercase;"><b>End Date</b></th>
                                <th  style="text-align: center; text-transform: uppercase;"><b>Action</b></th>
    
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in data %}
                            <tr>
                                <td  style="text-align: center;">{{forloop.counter}}</td>
                                <td style="text-align: center;"><a href="{% url 'Fin_AClients_Request_OverView' d.id %}">
                                     {{d.Login_Id.First_name}} {{d.Login_Id.Last_name}} </a></td>
                                <td  style="text-align: center;">{{d.Email}}</td>
                                <td  style="text-align: center;">{{d.Contact}}</td>
                                {% if d.Payment_Term %}
                                <td style="text-align: center;">{{d.Payment_Term.payment_terms_number}}  {{d.Payment_Term.payment_terms_value}}</td>
                                {% else %}
                                <td style="text-align: center;">Trial Period</td>
                                {% endif %}
                                <td  style="text-align: center;">{{d.End_date}}</td>
                                <td style="text-align: center;"><a href="{% url 'Fin_Client_Req_Accept' d.id %}" class="btn btn-success m-1">Accept</a>
                                    <a href="{% url 'Fin_Client_Req_Reject' d.id %}" class="btn btn-danger m-1">Reject</a></td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </a>
        </div>

    </div>
</div>

{% endif %}
{% endblock %}