{% extends 'company/Fin_base.html' %}
{% load static %}
{% block body %}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<div class="page-content">
        <div class="card radius-15 h-20">
            <div class="row">
                <div class="col-md-12">
                    <center><h2 class="mt-3">EDIT TRANSACTIONS</h2></center>
                            
                    <hr style="width:95%">
                </div>
            </div>
        </div>

    <div class="card radius-15">
        <div class="card-body">
            <div class="container-fluid">
                {% if bank.transaction_type == 'Cash Withdraw' %}

                <!-- Edit Modal -->
              
                            <form id="bankForm" method="post" action="{% url 'Fin_edit_bank_to_cash' bank.id %}">
                                {% csrf_token %}
                               <div class="form-group">

                                <div class="row">
                                    <div class="col-md-5 p-2">
                                        <label for="">From</label>
                                    </div>
                                    <div class="col-md-2 p-2"></div>
                                    <div class="col-md-5 p-2">
                                        <label for="">To</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 p-2">
                                        <select class="form-control" name="bank" id="">
                                            <option value="{{bank.banking.id}}" selected >{{bank.banking.bank_name}}</option>
                                           <!-- {% for i in all_banks %}
                                           <option value="{{i.id}}" >{{i.bank_name}}</option>
                                           {% endfor %} -->
                                        </select>
                                    </div>
                                    <div class="col-md-2 p-2"></div>
                                    <div class="col-md-5 p-2">
                                        <select class="form-control" name="cash" id="">
                                            <option class="form-control" selected  value="Cash">CASH</option>
                                        </select>
                                    </div>
                                </div> <div class="row">
                                    <div class="col-md-5 p-2">
                                        <label for="">AMOUNT</label>

                                    </div>
                                    <div class="col-md-2 p-2"></div>
                                    <div class="col-md-5 p-2">
                                        <label for="">ADJUSTMENT DATE</label>

                                    </div>
                                </div> <div class="row">
                                    <div class="col-md-5 p-2">
                                        <input class="form-control" type="text" value="{{bank.amount}}" name="amount" >

                                    </div>
                                    <div class="col-md-2 p-2"></div>
                                    <div class="col-md-5 p-2">
                                        <input class="form-control" type="date" value="{{bank.adjustment_date | date:'Y-m-d' }}" name="adjdate" >

                                    </div>
                                </div> <div class="row">
                                    <div class="col-md-5 p-2">
                                        <label for="">DESCRIPTION</label>

                                    </div>
                                    <div class="col-md-2 p-2"></div>
                                    <div class="col-md-5 p-2">
                
                                    </div>
                                </div> <div class="row">
                                    <div class="col-md-5 p-2">
                                        <input class="form-control" type="text" value="{{bank.description}}" name="desc" >

                                    </div>
                                    <div class="col-md-2 p-2"></div>
                                    <div class="col-md-5 p-2">
                
                                    </div>
                                </div> 
                                </div>

                               
                                <!-- <div class="row mb-5">
                                    <div class="col-md-8 mt-3"></div>
                                    <div class="col-md-2 mt-3">
                                        <a class="btn btn-outline-info rounded-pill w-100 text-grey pull-left" href="{% url 'Fin_banking_listout' %}">Close</a>
                            
                                    </div>
                                    <div class="col-md-2 mt-3">
                                      <button type="submit" class="btn btn-outline-info rounded-pill w-100 text-grey pull-left">
                                        Save Bank Account
                                      </button>
                                    </div>
                                    <div class="col-md-1"></div>
                                  </div> -->
                                  <div class="row mt-3 mb-5">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6 d-flex">
                                        <button class="btn btn-outline-secondary w-50 text-light" type="submit">SAVE</button>
                                        <a href="{% url 'Fin_banking_listout' %}"class="btn btn-outline-secondary ml-1 w-25 text-light">CANCEL</a>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                            </form>
              
            {% comment %} {% elif bank.transaction_type == 'Opening Balance' %}

            <form id="bankForm" method="post" action="{% url 'Fin_edit_bank_account' bank.id %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-5 p-2">
                        <label for="">BANK NAME</label>

                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5 p-2">
                        <label for="">ACCOUNT NUMBER</label>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 p-2">
                        <input class="form-control" type="text" name="bname" id="bname" value="{{bank.banking.bank_name}}">
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5 p-2">
                        <input class="form-control" type="number" name="acc_num" id="acc_num" value="{{bank.banking.account_number}}" oninput="validateAccountNumber()"
                        placeholder="15 digits">
                        <div id="accountNumberError" style="color: red;"></div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-5 p-2">
                        <label for="">BANK IFSC CODE</label>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5 p-2">
                        <label for="">BRANCH NAME</label>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-5 p-2">
                        <input class="form-control" type="text" name="ifsc" value="{{bank.banking.ifsc_code}}">
                    </div>
                    <div class="col-md-2"></div>

                    <div class="col-md-5 p-2">
                        <input class="form-control" type="text" name="branch" value="{{bank.banking.branch_name}}">

                    </div>
                </div>



                <div class="row">
                    <div class="col-md-5 p-2">
                        <label for="">OPENING BALANCE</label>
                    </div>
                    <div class="col-md-2"></div>

                    <div class="col-md-5 p-2">
                        <label for="">DATE</label>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-5 form-inline p-2">
                        <select class="form-control" name="op_type" id="">
                            <option value="{{bank.banking.opening_balance_type}}">{{bank.banking.opening_balance_type}}</option>
                            <option value="DEBIT">DEBIT</option>
                            <option value="CREDIT">CREDIT</option>

                        </select>
                        <input class="form-control" type="number" name="Opening" value="{{bank.banking.opening_balance}}">
                    </div>
                    <div class="col-md-2">

                    </div>

                    <div class="col-md-5 p-2">
                        <input class="form-control" type="date" name="date" id="dateInput" value="{{bank.banking.date| date:'Y-m-d'}}">

                    </div>
                </div>



                <!-- <div class="row mb-5">
                    <div class="col-md-8 mt-3"></div>
                    <div class="col-md-2 mt-3">
                        <a class="btn btn-outline-info rounded-pill w-100 text-grey pull-left" href="{% url 'Fin_banking_listout' %}">Close</a>

                    </div>
                    <div class="col-md-2 mt-3">
                        <button type="submit" class="btn btn-outline-info rounded-pill w-100 text-grey pull-left">
                            Save Bank Account
                        </button>
                    </div>
                    <div class="col-md-1"></div>
                </div> -->
                <div class="row mt-3 mb-5">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 d-flex">
                        <button class="btn btn-outline-secondary w-50 text-light" type="submit">SAVE</button>
                        <a href="{% url 'Fin_banking_listout' %}"class="btn btn-outline-secondary ml-1 w-25 text-light">CANCEL</a>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </form> {% endcomment %}

            {% elif bank.adjustment_type == 'Increase Balance' %}

                <!-- Edit Modal --> 
                
     
                            <form id="bankForm" method="post" action="{% url 'Fin_edit_bank_adjust' bank.id %}">
                                {% csrf_token %}


                               <div class="form-group">

                                <div class="row">
                                    <div class="col-md-5 p-2">
                                        <label for="">Account Name</label>
                                    </div>
                                    <div class="col-md-2 p-2"></div>
                                    <div class="col-md-5 p-2">
                                        <label for="">Type</label>
                                    </div>
                                </div>  <div class="row">
                                    <div class="col-md-5 p-2">
                                        <select class="form-control" name="bank" id="">
                                            <option value="{{bank.banking.id}}" selected >{{bank.banking.bank_name}}</option>
                                            <!-- {% for i in all_banks %}
                                            <option value="{{i.id}}">{{i.bank_name}}</option>
                                            {% endfor %} -->
                                         </select>
                                    </div>
                                    <div class="col-md-2 p-2"></div>
                                    <div class="col-md-5 p-2">
                                        <select class="form-control" name="typ" id="">
                                            <option value="{{bank.adjustment_type}}" selected >{{bank.adjustment_type}}</option>
                                            <option value="Increase Balance">Increase Balance</option>
                                            <option value="Reduce Balance">Reduce Balance</option>
                                            
                                         </select>
                                    </div>
                                </div>  <div class="row">
                                    <div class="col-md-5 p-2">
                                        <label for="">AMOUNT</label>
                                    </div>
                                    <div class="col-md-2 p-2"></div>
                                    <div class="col-md-5 p-2">
                                        <label for="">ADJUSTMENT DATE</label>
                
                                    </div>
                                </div>  <div class="row">
                                    <div class="col-md-5 p-2">
                                        <input class="form-control" value="{{bank.amount}}" type="text" name="amount" >

                                    </div>
                                    <div class="col-md-2 p-2"></div>
                                    <div class="col-md-5 p-2">
                                        <input class="form-control" value="{{ bank.adjustment_date | date:'Y-m-d' }}" type="date" name="adjdate" >

                                    </div>
                                </div>  <div class="row">
                                    <div class="col-md-5 p-2">
                                        <label for="">DESCRIPTION</label>
                
                                    </div>
                                    <div class="col-md-2 p-2"></div>
                                    <div class="col-md-5 p-2">
                
                                    </div>
                                </div>  <div class="row">
                                    <div class="col-md-5 p-2">
                                        <input class="form-control" value="{{bank.description}}" type="text" name="desc" >
                
                                    </div>
                                    <div class="col-md-2 p-2"></div>
                                    <div class="col-md-5 p-2">
                
                                    </div>
                                </div> 



                             
                                    
                                </div>
                               <!-- <div class="row mb-5">
                                <div class="col-md-8 mt-3"></div>
                                <div class="col-md-2 mt-3">
                                    <a class="btn btn-outline-info rounded-pill w-100 text-grey pull-left" href="{% url 'Fin_banking_listout' %}">Close</a>
                        
                                </div>
                                <div class="col-md-2 mt-3">
                                  <button type="submit" class="btn btn-outline-info rounded-pill w-100 text-grey pull-left">
                                    Save Bank Account
                                  </button>
                                </div>
                                <div class="col-md-1"></div>
                              </div> -->

                              <div class="row mt-3 mb-5">
                                <div class="col-md-3"></div>
                                <div class="col-md-6 d-flex">
                                    <button class="btn btn-outline-secondary w-50 text-light" type="submit">SAVE</button>
                                    <a href="{% url 'Fin_banking_listout' %}"class="btn btn-outline-secondary ml-1 w-25 text-light">CANCEL</a>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            </form> 
            


            {% elif bank.adjustment_type == 'Reduce Balance' %}

                <!-- Edit Modal -->
              
     
                            <form id="bankForm" method="post" action="{% url 'Fin_edit_bank_adjust' bank.id %}">
                                {% csrf_token %}
                               <div class="form-group">

                                <div class="row">
                                    <div class="col-md-5 p-2">
                                        <label for="">Account Name</label>
                                    </div>
                                    <div class="col-md-2 p-2"></div>
                                    <div class="col-md-5 p-2">
                                        <label for="">Type</label>
                
                                    </div>
                                </div>
                     
                                <div class="row">
                                    <div class="col-md-5 p-2">
                                        <select class="form-control" name="bank" id="">
                                            <option value="{{bank.banking.id}}" selected>{{bank.banking.bank_name}}</option>
                                            <!-- {% for i in all_banks %}
                                            <option value="{{i.id}}">{{i.bank_name}}</option>
                                            {% endfor %} -->
                                         </select>
                                    </div>
                                    <div class="col-md-2 p-2"></div>
                                    <div class="col-md-5 p-2">
                                        <select class="form-control" name="typ" id="">
                                            <option value="{{bank.transaction_type}}" selected >{{bank.adjustment_type}}</option>
                                            <option value="Increase Balance">Increase Balance</option>
                                            <option value="Reduce Balance">Reduce Balance</option>
                                            
                                         </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 p-2">
                                        <label for="">AMOUNT</label>
                                    </div>
                                    <div class="col-md-2 p-2"></div>
                                    <div class="col-md-5 p-2">
                                        <label for="">ADJUSTMENT DATE</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 p-2">
                                        <input class="form-control" value="{{bank.amount}}" type="text" name="amount" >

                                    </div>
                                    <div class="col-md-2 p-2"></div>
                                    <div class="col-md-5 p-2">
                                        <input class="form-control" value="{{ bank.adjustment_date | date:'Y-m-d' }}" type="date" name="adjdate" >

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 p-2">
                                        <label for="">DESCRIPTION</label>

                                    </div>
                                    <div class="col-md-2 p-2"></div>
                                    <div class="col-md-5 p-2">
                
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 p-2">
                                        <input class="form-control" value="{{bank.description}}" type="text" name="desc" >

                                    </div>
                                    <div class="col-md-2 p-2"></div>
                                    <div class="col-md-5 p-2">
                
                                    </div>
                                </div>
                               
                                                                                                                     
                               
                                    
                                </div>
            
                                
                                <!-- <div class="row mb-5">
                                    <div class="col-md-8 mt-3"></div>
                                    <div class="col-md-2 mt-3">
                                        <a class="btn btn-outline-info rounded-pill w-100 text-grey pull-left" href="{% url 'Fin_banking_listout' %}">Close</a>
                            
                                    </div>
                                    <div class="col-md-2 mt-3">
                                      <button type="submit" class="btn btn-outline-info rounded-pill w-100 text-grey pull-left">
                                        Save Bank Account
                                      </button>
                                    </div>
                                    <div class="col-md-1"></div>
                                  </div> -->

                                <div class="row mt-3 mb-5">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6 d-flex">
                                        <button class="btn btn-outline-secondary w-50 text-light" type="submit">SAVE</button>
                                        <a href="{% url 'Fin_banking_listout' %}"class="btn btn-outline-secondary ml-1 w-25 text-light">CANCEL</a>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                            
                               
                            
                            
                       
                            </form>
       




            {% elif bank.transaction_type == 'To Bank Transfer' %}

                <!-- Edit Modal -->
        
                            <form id="bankForm" method="post" action="{% url 'Fin_edit_bank_to_bank' bank.id %}">

                                {% csrf_token %}
                               <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5 p-2">
                                        <label for="">From</label>
                                    </div>
                                    <div class="col-md-2 p-2"></div>
                                    <div class="col-md-5 p-2">
                                        <label for="">To</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 p-2">
                                        <select class="form-control" name="fbank" id="">
                                            <option value="{{banks.banking.id}}" selected>{{banks.banking.bank_name}}</option>
                                            <!-- {% for i in all_banks %}
                                            <option value="{{i.id}}" >{{i.bank_name}}</option>
                                            {% endfor %} -->
                                         </select>
                                    </div>
                                    <div class="col-md-2 p-2"></div>
                                    <div class="col-md-5 p-2">
                                        <label></label>
                                        <select class="form-control" name="tbank" id="">
                                            <option value="{{bank.banking.id}}" selected>{{bank.banking.bank_name}}</option>
                                            
                                                {% for i in all_banks %}
                                                <option value="{{i.id}}">{{i.bank_name}}</option>
                                                {% endfor %}
                                             </select>
                                    </div>
                                  
                                </div>
                                <div class="row">
                                    <div class="col-md-5 p-2">
                                        <label for="">AMOUNT</label>
    
                                    </div>
                                    <div class="col-md-2 p-2"></div>
                                    <div class="col-md-5 p-2">
                                        <label for="">ADJUSTMENT DATE</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 p-2">
                                        <input class="form-control" value="{{bank.amount}}" type="text" name="amount" >

                                    </div>
                                    <div class="col-md-2 p-2"></div>
                                    <div class="col-md-5 p-2">
                                        <input class="form-control" value="{{ bank.adjustment_date |date:'Y-m-d' }}" type="date" name="adjdate" >
    
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 p-2">
                                        <label for="">DESCRIPTION</label>
    
                                    </div>
                                    <div class="col-md-2 p-2"></div>
                                    <div class="col-md-5 p-2">
    
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 p-2">
                                        <input class="form-control" value="{{bank.description}}" type="text" name="desc" >

                                    </div>
                                    <div class="col-md-2 p-2"></div>
                                    <div class="col-md-5 p-2">
    
                                    </div>
                                </div>

                               </div>
                               <!-- <div class="row mb-5">
                                <div class="col-md-8 mt-3"></div>
                                <div class="col-md-2 mt-3">
                                    <a class="btn btn-outline-info rounded-pill w-100 text-grey pull-left" href="{% url 'Fin_banking_listout' %}">Close</a>
                        
                                </div>
                                <div class="col-md-2 mt-3">
                                  <button type="submit" class="btn btn-outline-info rounded-pill w-100 text-grey pull-left">
                                    Save Bank Account
                                  </button>
                                </div>
                                <div class="col-md-1"></div>
                              </div> -->
                              <div class="row mt-3 mb-5">
                                <div class="col-md-3"></div>
                                <div class="col-md-6 d-flex">
                                    <button class="btn btn-outline-secondary w-50 text-light" type="submit">SAVE</button>
                                    <a href="{% url 'Fin_banking_listout' %}"class="btn btn-outline-secondary ml-1 w-25 text-light">CANCEL</a>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                               
                            </form>
                   

            {% elif bank.transaction_type == 'From Bank Transfer' %}

            <!-- Edit Modal -->
                           
                        <form id="bankForm" method="post" action="{% url 'Fin_edit_bank_to_bank' bank.id %}">
                            {% csrf_token %}
                           <div class="form-group">
                            <div class="row">
                                <div class="col-md-5 p-2">
                                    <label for="">From</label>

                                </div>
                                <div class="col-md-2 p-2"></div>
                                <div class="col-md-5 p-2">
                                    <label for="">To</label>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5 p-2">
                                    <select class="form-control" name="fbank" id="">
                                        <option value="{{bank.banking.id}}" selected>{{bank.banking.bank_name}}</option>
<!--     
                                        {% for i in all_banks %}
                                        <option value="{{i.id}}">{{i.bank_name}}{{i.id}}</option>
                                        {% endfor %} -->
                                     </select>
                                </div>
                               
                                <div class="col-md-2 p-2"></div>
                                <div class="col-md-5 p-2">
                                    <select class="form-control" name="tbank" id="">
                                        <option value="{{banks.banking.id}}" selected>{{banks.banking.bank_name}}</option>
        
                                        {% for i in all_banks %}
                                        <option value="{{i.id}}">{{i.bank_name}}</option>
                                        {% endfor %}
                                     </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 p-2">
                                    <label for="">AMOUNT</label>
                                </div>
                                <div class="col-md-2 p-2"></div>
                                <div class="col-md-5 p-2">
                                    <label for="">ADJUSTMENT DATE</label>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 p-2">
                                    <input class="form-control" value="{{bank.amount}}" type="text" name="amount" >

                                </div>
                                <div class="col-md-2 p-2"></div>
                                <div class="col-md-5 p-2">
                                    <input class="form-control" value="{{bank.adjustment_date |date:'Y-m-d' }}" type="date" name="adjdate" >

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5 p-2">
 
                                    <label for="">DESCRIPTION</label>
                                </div>
                                <div class="col-md-2 p-2"></div>
                                <div class="col-md-5 p-2">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 p-2">
                                    <input class="form-control" value="{{bank.description}}" type="text" name="desc" >

                                </div>
                                <div class="col-md-2 p-2"></div>
                                <div class="col-md-5 p-2">

                                </div>
                            </div>

                                
                            </div>
        
    
                            <!-- <div class="row mb-5">
                                <div class="col-md-8 mt-3"></div>
                                <div class="col-md-2 mt-3">
                                    <a class="btn btn-outline-info rounded-pill w-100 text-grey pull-left" href="{% url 'Fin_banking_listout' %}">Close</a>
                        
                                </div>
                                <div class="col-md-2 mt-3">
                                  <button type="submit" class="btn btn-outline-info rounded-pill w-100 text-grey pull-left">
                                    Save Bank Account
                                  </button>
                                </div>
                                <div class="col-md-1"></div>
                              </div> -->
                              <div class="row mt-3 mb-5">
                                <div class="col-md-3"></div>
                                <div class="col-md-6 d-flex">
                                    <button class="btn btn-outline-secondary w-50 text-light" type="submit">SAVE</button>
                                    <a href="{% url 'Fin_banking_listout' %}"class="btn btn-outline-secondary ml-1 w-25 text-light">CANCEL</a>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </form>
             

        {% else %}

            <!-- Edit Modal -->
 
                        <form id="bankForm" method="post" action="{% url 'Fin_edit_cash_to_bank' bank.id %}">
                            {% csrf_token %}
                           <div class="form-group">
                            <div class="row">
                                <div class="col-md-5 p-2">
                                    <label for="">From</label>
                                </div>
                                <div class="col-md-2 p-2"></div>
                                <div class="col-md-5 p-2">
                                    <label for="">To</label>

                                </div>
                            </div>
                     
                          
                            <div class="row">
                                <div class="col-md-5 p-2">
                                    <select class="form-control" name="cash" id="">
                                        <option class="form-control" selected  value="Cash">CASH</option>
                                    </select>
                                </div>
                                <div class="col-md-2 p-2"></div>
                                <div class="col-md-5 p-2">
                                    <select class="form-control" name="bank" id="">
                                    
                                        <option value="{{bank.banking.id}}">{{bank.banking.bank_name}}</option>
                                       <!-- {% for i in all_banks %}
                                       <option value="{{i.id}}">{{i.bank_name}}</option>
                                       {% endfor %} -->
                                    </select>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-5">
                                    <label for="">AMOUNT</label>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-5">
                                    <label for="">ADJUSTMENT DATE</label>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-5">
                                    <input class="form-control" value="{{bank.amount}}" type="text" name="amount" >

                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-5">
                                    <input class="form-control" value="{{bank.adjustment_date | date:'Y-m-d' }}" type="date" name="adjdate" >

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5">
                                    <label for="">DESCRIPTION</label>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-5">

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5">
                                    <input class="form-control" value="{{bank.description}}" type="text" name="desc" >

                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-5">

                                </div>
                            </div>
                            
                          
                           
                           </div>
                           <!-- <div class="row mb-5">
                            <div class="col-md-8 mt-3"></div>
                            <div class="col-md-2 mt-3">
                                <a class="btn btn-outline-info rounded-pill w-100 text-grey pull-left" href="{% url 'Fin_banking_listout' %}">Close</a>
                    
                            </div>
                            <div class="col-md-2 mt-3">
                              <button type="submit" class="btn btn-outline-info rounded-pill w-100 text-grey pull-left">
                                Save Bank Account
                              </button>
                            </div>
                            <div class="col-md-1"></div>
                          </div> -->
                          <div class="row mt-3 mb-5">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 d-flex">
                                <button class="btn btn-outline-secondary w-50 text-light" type="submit">SAVE</button>
                                <a href="{% url 'Fin_banking_listout' %}"class="btn btn-outline-secondary ml-1 w-25 text-light">CANCEL</a>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        </form>
                    



        {% endif %}
                </div>
            </div>
        </div>
    </div>
                {% endblock %}


                <script>
                    $(document).ready(function () {
                        // Event listener for account number input
                        $('#acc_num').on('input', function () {
                            // Get the entered account number
                            var accountNumber = $(this).val();
                            console.log(accountNumber);
                            // Get the bank name (you may adjust this based on how you get the bank name)
                            var bankName = $('#bname').val();
                            console.log(bankName);
                            // Perform AJAX request to check if the account number exists
                            $.ajax({
                                type: 'GET',
                                url: "{% url 'Fin_banking_check_account_number' %}",  // Replace with your Django view URL for checking account number
                                data: {
                                    'bank_name': bankName,
                                    'account_number': accountNumber
                                },
                                success: function (data) {
                                    // Display error message if account number exists
                                    if (data.exists) {
                                        $('#accountNumberError').text('Account number already exists for this bank.');
                                    } else {
                                        // Clear the error message if account number is unique
                                        $('#accountNumberError').text('');
                                    }
                                }
                            });
                        });
                    });
                </script>
                
                <script>
                    var validationTimer;
                
                    function validateAccountNumber() {
                        clearTimeout(validationTimer);
                
                        // Set a delay before triggering the validation
                        validationTimer = setTimeout(function() {
                            var accountNumber = document.getElementById('acc_num').value;
                
                            // Check if the account number has exactly 15 digits
                            if (accountNumber.length === 15) {
                                // Clear the error message if the length is correct
                                document.getElementById('accountNumberError').innerText = '';
                            } else {
                                // Display an error message if the length is not 15
                                document.getElementById('accountNumberError').innerText = 'Account number must be 15 digits.';
                            }
                        }, 500); // Set the delay time in milliseconds (adjust as needed)
                    }
                </script>